:root {
    --GRIS_CLARO: #f0f0f0; 
    --GRIS_MEDIO: #808080;
    --GRIS_MEDIO_DOS: #ada8a8;
    --GRIS_OSCURO: #575757;
    --NEGRO: #0000;  
    --BLANCO: #ffff; 
    --DEGRADADO: linear-gradient(90deg, var(--GRIS_CLARO), var(--GRIS_OSCURO));
}

body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

/*PAGINA PRINCIPAL CONSTRUCCION*/
.container-fondo {
    width: 100vw;
    height: 100vh;
    background: url("/img/fotogym4.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px;
}

#togglePassword {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

#togglePassword:hover {
    color: #000;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover {
    background: gray;
}

#mensaje {
    color: red;
    font-weight: bold;
}

/*FOOTER*/
footer {
    background: var(--GRIS_MEDIO_DOS);
    padding: 30px 0 10px 0;
    border-radius: 0 0 100% 100% / 100px 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    max-width: 1200px;
    gap: 3em;
    margin-bottom: 1em;
}
footer .info-general,
footer .contacto-footer {
    flex: 1;
    max-width: 400px;
    text-align: left;
}

footer .logo-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
}

footer .logo-footer {
    height: 120px;
}

footer .container-footer .logo-footer img {
    width: 180px;
}

footer .redes-footer {
    margin-top: 30px;
}

footer .iconos-redes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

footer .icono-red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s;
}

footer .icono-red:hover {
    background-color: var(--GRIS_MEDIO);
}

footer .info-general {
    padding: 0 20px;
}

footer .info-general p {
    color: var(--BLANCO);
    font-size: 14px;
    margin: 10px 0;
}

footer .info-general .texto div{
    color: var(--BLANCO);
    margin-top: 1.5em;
}

footer .titulo-footer {
    color: var(--BLANCO);
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 18px;
    margin: 20px 0;
}

footer .contacto-footer {
    padding: 0 20px;
    text-align: left;
}

footer .contacto-footer .link-contacto {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0;
    color: var(--BLANCO);
    text-decoration: none;
    transition: color 0.3s;
}

footer .contacto-footer .link-contacto:hover {
    color: var(--GRIS_OSCURO);
}

footer .contacto-footer i {
    margin-right: 8px;
    font-size: 18px;
}

.footer-legal {
    text-align: center;
    color: var(--BLANCO);
    font-size: 14px;
    margin-top: 4em;
    width: 95%;
}

.footer-legal a {
    color: var(--BLANCO);
    text-decoration: underline;
    margin: 0 10px;
}

.footer-legal p{
    width: 95%;
}

.footer-legal a:hover {
    color: var(--GRIS_OSCURO);
}




/*RESPONSIVE*/
@media (max-width: 768px) {
    
    footer {
        padding: 20px 0 10px 0; 
        border-radius: 0; 
    }

    footer .container-footer {
        flex-direction: column; 
        gap: 10px;
        align-items: center; 
    }

    footer .info-general,
    footer .contacto-footer {
        max-width: 60%; 
        text-align: center; 
        padding: 0; 
    }

    footer .logo-redes {
        min-width: auto; 
        margin-top: 20px;
    }

    footer .logo-footer img {
        width: 180px;
    }

    footer .iconos-redes {
        gap: 5px; 
    }

    footer .icono-red {
        width: 35px; 
        height: 35px;
        font-size: 16px; 
    }

    .footer-legal {
        font-size: 12px; 
        margin-top: 2em;
        max-width: 60%;
    }
   

}

